<%= form_with(model: controllable_device, local: true) do |form| %>
  <% if controllable_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(controllable_device.errors.count, "error") %> prohibited this controllable_device from being saved:</h2>

      <ul>
      <% controllable_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
