<div id="pointChart" data-point-id="<%= point_id %>"<% if @data.count == 0 %> style="display: none;"<% end %>>
  <%= line_chart @data, id: 'chart', xtitle: 'Time', ytitle: @unit, curve: false %>
  <div class="form-check text-center">
    <input class="form-check-input" type="checkbox" id="autoUpdateChart" checked>
    <label class="form-check-label mx-auto" for="autoUpdateChart">Auto-update</label>
  </div>
</div>