<% if @facilities.any? %>
  <div class="row mb-2 mt-5 mx-auto">
    <div class="col-xs my-auto">
      <h3>Facilities</h3>
    </div>
  </div>
  <%= render partial: 'facilities/list_facilities', locals: { access_levels: @access_levels } %>
<% end %>

<div class="row mt-3">
  <% if @sensors.any? %>
    <div class="col-md-6">
      <div class="row mx-auto my-2">
        <div class="col-xs my-auto">
          <h3>Sensors</h3>
        </div>
      </div>
      <%= render partial: 'sensors/list_sensors', locals: { sensors: @sensors } %>
    </div>
  <% end %>

  <% if @controllable_devices.any? %>
    <div class="col-md-6">
      <div class="row mx-auto my-2">
        <div class="col-xs my-auto">
          <h3>Controllable Devices</h3>
        </div>
      </div>
      <%= render partial: 'controllable_devices/list_controllable_devices', locals: { controllable_devices: @controllable_devices } %>
    </div>
  <% end %>
</div>
